//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 13 14:58:02 2024
//! **************************************************************************

SCHEMATIC START;
COMP "a_to_g<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "a_to_g<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "a_to_g<2>" LOCATE = SITE "P75" LEVEL 1;
COMP "a_to_g<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "a_to_g<4>" LOCATE = SITE "P79" LEVEL 1;
COMP "a_to_g<5>" LOCATE = SITE "P80" LEVEL 1;
COMP "a_to_g<6>" LOCATE = SITE "P81" LEVEL 1;
COMP "en<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "en<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "en<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "en<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "en<4>" LOCATE = SITE "P87" LEVEL 1;
COMP "en<5>" LOCATE = SITE "P88" LEVEL 1;
COMP "en<6>" LOCATE = SITE "P92" LEVEL 1;
COMP "en<7>" LOCATE = SITE "P93" LEVEL 1;
COMP "i_uart_rx" LOCATE = SITE "P14" LEVEL 1;
COMP "i_clk" LOCATE = SITE "P126" LEVEL 1;
COMP "o_uart_tx" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

